# 기타
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.build/
.buildlog/
.history
.svn/
.swiftpm/
migrate_working_dir/

# IntelliJ 관련
*.iml
*.ipr
*.iws
.idea/

# VS Code 폴더에는 실행/작업 설정이 있으므로
# 형상 관리에 포함하고 싶다면 아래 주석을 해제하세요.
#.vscode/

# Flutter/Dart/Pub 관련
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins
.packages
.pub-cache/
.pub/
/build/
android/app/build/
node_modules/
.flutter-plugins-dependencies
/coverage/

# 심볼리케이션 관련
app.*.symbols

# 난독화 관련
app.*.map.json
*.apk
*.aab

# Android Studio 빌드 산출물 경로
/android/app/debug
/android/app/profile
/android/app/release

# Python 서버
python_server/__pycache__/
python_server/*.pyc

# Supabase 환경 변수
supabase/.env

# Flutter 환경 변수 파일
.env.json
